<h4>Available notes</h4>

<ul class="notes-list">
    <li ng-repeat="note in notes" ng-click="viewNote(note)">
        <div class="sequence-number">{{$index + 1}}.</div>

        <div class="note-content">
            <p class="note-summary">{{note.title}}</p>
            <p class="note-timeDate"><i>{{note.creationDateTime}}</i></p>
        </div>

        <md-button class="delete-button" ng-click="deleteNote(note); $event.stopPropagation();">
            <i class="fa fa-trash"></i>
        </md-button>
    </li>
</ul>

<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>